*/*.csv
*/*.dat
*/*.iml
*/*.pid
*/*.seed
*/*.sublime-*
*/*.swo
*/*.swp
*/*.tgz
*/.idea
*/.vscode
*/.project
*/.strong-pm
*/node_modules
*/build
*/npm-debug.log
*/.tmp
*/log

.git
.idea
.vscode
node_modules
log-products
log-rest
log-users
mysql_dump
/volume*
/dump*
.env.prod
docker-compose.test.yml

log-service-data
log-service-notification
log-service-rest
log-service-payment
log-users

/services/tsi-service-rest/.idea
/services/tsi-service-rest/.vscode
/services/tsi-service-rest/node_modules
/services/tsi-service-rest/dist
/services/tsi-service-rest/log

/services/tsi-service-data/.idea
/services/tsi-service-data/.vscode
/services/tsi-service-data/node_modules
/services/tsi-service-data/dist
/services/tsi-service-data/log

/services/tsi-service-notification/.idea
/services/tsi-service-notification/.vscode
/services/tsi-service-notification/node_modules
/services/tsi-service-notification/dist
/services/tsi-service-notification/log

/services/tsi-service-payment/.idea
/services/tsi-service-payment/.vscode
/services/tsi-service-payment/node_modules
/services/tsi-service-payment/dist
/services/tsi-service-payment/log
